<!DOCTYPE html>
<html lang="es">

  <%- include("./partials/head.ejs") %>

  <body>
    
    <%- include("./partials/header.ejs") %>

    <img src="images/img-home-banner.jpg" alt="banner" class="banner">

    <main>
      <section>
        <h2 class="titular">Basado en tu última visita</h2>

        <article>
          <img src="./images/img-cafetera-moulinex.jpg">

          <div class="icon">
            <i class="fas fa-truck"></i>
          </div>

          <p>
            <span class="precio">$6.770</span>
            <span class="descuento">40%&nbspoff</span>
          </p>

          <h3 class="descripcion">Cafetera Moulinex</h3>
        </article>

        <article>
          <img src="./images/img-macbook-pro-2019.jpg">

          <div class="icon">
            <i class="fas fa-truck"></i>
          </div>

          <p>
            <span class="precio">$230.000</span>
            <span class="descuento">20%&nbspoff</span>
          </p>

          <h3 class="descripcion">MacBook Pro 2019</h3>
        </article>

        <article>
          <img src="./images/img-samsung-galaxy-s10.jpg">

          <div class="icon">
            <i class="fas fa-truck"></i>
          </div>

          <p>
            <span class="precio">$70.500</span>
            <span class="descuento">10%&nbspoff</span>
          </p>

          <h3 class="descripcion">Samsung Galaxy S10</h3>
        </article>

        <article>
          <img src="./images/img-tv-samsung-smart.jpg">

          <div class="icon">
            <i class="fas fa-truck"></i>
          </div>

          <p>
            <span class="precio">$23.200</span>
            <span class="descuento">5%&nbspoff</span>
          </p>

          <h3 class="descripcion">SmartTV Samsung 43"</h3>
        </article>
      </section>

      <section>
        <h2 class="titular">Ofertas</h2>

        <article>
          <img src="./images/img-cafetera-moulinex.jpg">

          <div class="icon">
            <i class="fas fa-truck"></i>
          </div>

          <p>
            <span class="precio">$6.770</span>
            <span class="descuento">40%&nbspoff</span>
          </p>

          <h3 class="descripcion">Cafetera Moulinex</h3>
        </article>

        <article>
          <img src="./images/img-macbook-pro-2019.jpg">

          <div class="icon">
            <i class="fas fa-truck"></i>
          </div>

          <p>
            <span class="precio">$230.000</span>
            <span class="descuento">20%&nbspoff</span>
          </p>

          <h3 class="descripcion">MacBook Pro 2019</h3>
        </article>

        <article>
          <img src="./images/img-samsung-galaxy-s10.jpg">

          <div class="icon">
            <i class="fas fa-truck"></i>
          </div>

          <p>
            <span class="precio">$70.500</span>
            <span class="descuento">10%&nbspoff</span>
          </p>

          <h3 class="descripcion">Samsung Galaxy S10</h3>
        </article>

        <article>
          <img src="./images/img-tv-samsung-smart.jpg">

          <div class="icon">
            <i class="fas fa-truck"></i>
          </div>

          <p>
            <span class="precio">$23.200</span>
            <span class="descuento">5%&nbspoff</span>
          </p>

          <h3 class="descripcion">SmartTV Samsung 43"</h3>
        </article>
      </section>
    </main>

    <%- include("./partials/footer.ejs") %>
  </body>

</html>